.navbar
{
    background-color: #266973!important;
}

.gallery
{
    text-decoration: none;
    color:inherit;
}

.gallery:visited
{
    text-decoration: none;
    color:#000000;
}

.gallery:hover
{
    color:#ffffff; 
    text-decoration: none;
}

